---
layout: blank
---
    {% for page in paginator.posts %}
    <article>
      <header>
        <img class="border-top" src="{{ site.baseurl }}/assets/vignette.svg" alt="" />
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • {{ page.categories | array_to_sentence_string }}{% endif %}</p>
      </header>
      <div>
{{ page.excerpt }}
      </div>
      <footer>
        <p>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ site.more }} &raquo;</a>
          <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread">0 comments</a>
        </p>
      </footer>
    </article>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <footer id="paginate">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">« newer posts</a>{% else %}<span>« newer posts</span>{% endif %}
        <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">older posts »</a>{% else %}<span>older posts »</span>{% endif %}
    </footer>
    {% endif %}
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.comments.disqus }}'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
